* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --green: #4a4a4a;
  --blue: #3cdbc0;
  --white: #ffffff;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}

.header {
  font-family: "Rubik", sans-serif;
  position: fixed;
  width: 100%;
  background-color: var(--white);
  box-sizing: border-box;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo-adalab {
  width: 155px;
  padding: 15px 15px;
}

.list-nav {
  align-items: center;
  display: flex;
  padding: 10px 13px;
}

.item-nav a {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: var(--green);
  font-size: 16px;
}

.item-nav {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  white-space: calc(20px);
}

.main {
  background-color: var(--blue);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem 0;
}

.text-main {
  color: var(--white);
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
}
@media all and (min-width: 768px) {
  .header {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 30px;
  }
  .logo-adalab {
    transform: none;
  }

  .text-main {
    font-size: 40px;
  }
}
