* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

:root {
  --color-gray: #4a4a4a;
  --color-blue: #3cdbc0;
  --color-white: #ffffff;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: var(--color-white);
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 13px;
}

.logo-adalab {
  width: 155px;
}

.image__link {
  padding: 10px;
}

.list-nav {
  display: flex;
}

.item-nav {
  padding: 10px;
  text-decoration: none;
  color: var(--green);
  text-transform: uppercase;
}

.main {
  height: 100vh;
  background-color: var(--color-blue);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize; /*Cambio a mayúsculas*/
}

.title {
  width: 11ch;
  text-align: center;
  pad: 0 10px;
}

@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
  }
  .image__link {
    padding: 20px;
  }

  .title {
    font-size: 2.5rem;
  }
}
